src/*.exe
src/deepcoin
src/deepcoind
src/test_deepcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.deepcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
deepcoin-qt
Deepcoin-Qt.app

# Unit-tests
Makefile.test
deepcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
